.button {
    border: solid black 1px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
    background-color: darkgray;
    font-size: 20px;
    color: white;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputRow {

    width: 300px;
    background-color: gray;
    height: 75px;
    box-sizing: border-box;
    border: solid 1px black;
    text-align: right;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-size: 30px;
    color: white;

}

.clearRow {
    width: 300px
}

#clearButton {
    width: 300px;
}

#operator {
    background-color: cornflowerblue;
}